<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flask News</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <link rel="stylesheet" href="{{ url_for('static', filename='css2/fontawesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css2/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css2/templatemo-style.css') }}">



</head>

<body id="reportsPage">
    <div class="" id="home">
        <nav class="navbar navbar-expand-xl">

            <div class="container h-100">
                <a class="navbar-brand" href="/">
                    <h1 class="tm-site-title mb-0">Flask News Dashboard</h1>
                </a>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto h-100">
                        <li class="nav-item">
                            <a class="nav-link" href="/">
                                Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/region">
                                Region
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/errors">
                                Errors
                            </a>
                        </li>
                    </ul>
                    
                </div>
            </div>

        </nav>

        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="text-white mt-5 mb-5"> </p>
                </div>
            </div>
            <!-- row -->
            <div class="row tm-content-row">

                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block">
                        <h2 class="tm-block-title">HTTP status codes - News API</h2>
                    </div>
                </div>

                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block">
                        <h2 class="tm-block-title">HTTP status codes - Google Trends API</h2>
                    </div>
                </div>

                <div class="col-12 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll">
                        <h2 class="tm-block-title">Service Logs</h2>
                        <table class="table table-striped table-bordered ">
                            <thead>
                                <tr>
                                    <th scope="col">TIMESTAMP</th>
                                    <th scope="col">THREAD</th>
                                    <th scope="col">LEVEL</th>
                                    <th scope="col">MESSAGE</th>
                                </tr>
                            </thead>

                            <tbody>
                                 {% for time, thread, level, message in mylist %}     
                                        <tr> 
                                            <td>{{ time|safe }}</td> 
                                            <td>{{ thread|safe }}</td> 
                                            <td>{{ level|safe }}</td> 
                                            <td>{{ message|safe }}</td> 
                                        </tr>
                                 {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>





        <footer class="tm-footer row tm-mt-small">
            <div class="col-12 font-weight-light">
                <p class="text-center text-white mb-0 px-4 small">
                    Design: <a rel="nofollow noopener" href="https://templatemo.com" class="tm-footer-link">Beatriz Santos</a>                    
                </p>
            </div>
        </footer>

    </div>

</body>

</html>